# General
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Database
*.db
*.sqlite3
instance/

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Other
.DS_Store